.logo{
    color: #00426B;
    position: relative;
    width: 100%;
    padding: 112px 0 50px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif !important;
}
.logo h1{
    font-size: 4em;
    font-weight: 200;
    margin-top: 40px;
    margin-bottom: 0;
}
.logo p{
    font-style: italic;
    font-size: 2em;
}
.logo em {
    letter-spacing: 0.09em;
}
.buttons {
    display: block;
    font-weight: normal;
    line-height: normal;
    width: 100%;
    text-align: center;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    border-radius: 3px;
    padding: 15px !important;
    color: #F9F9F9;
    font-size: 14px;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    cursor: pointer;
}

.image{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 33%;
    background-image: url(/workspace_stock.jpg);
    background-size: cover;
    background-position: center center;
}
body {
    background: -webkit-linear-gradient(right, #EEF0F3, #FFFFFF);
    background: -moz-linear-gradient(right, #EEF0F3, #FFFFFF);
    background: -o-linear-gradient(right, #EEF0F3, #FFFFFF);
    background: linear-gradient(to left, #EEF0F3, #FFFFFF);
    font-family: "Roboto", sans-serif !important;
    -webkit-font-smoothing: antialiased;
}