<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>facelets.SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.UPLOADER</param-name>
        <param-value>auto</param-value>
    </context-param>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/errorpages/404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/errorpages/general-error.html</location>
    </error-page>

    <filter>
        <filter-name>NoLoginAgainFilter</filter-name>
        <filter-class>lt.vu.feedback_system.filters.NoLoginAgainFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserPermissionFilter</filter-name>
        <filter-class>lt.vu.feedback_system.filters.UserPermissionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminPermissionFilter</filter-name>
        <filter-class>lt.vu.feedback_system.filters.AdminPermissionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SurveyConfidentialPermissionFilter</filter-name>
        <filter-class>lt.vu.feedback_system.filters.SurveyConfidentialPermissionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SurveyValidFilter</filter-name>
        <filter-class>lt.vu.feedback_system.filters.SurveyValidFilter</filter-class>
    </filter>
    <filter>
        <filter-name>NoCacheFilter</filter-name>
        <filter-class>lt.vu.feedback_system.filters.NoCacheFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>NoLoginAgainFilter</filter-name>
        <url-pattern>/login.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserPermissionFilter</filter-name>
        <url-pattern>/index.html</url-pattern>
        <url-pattern>/surveys.html</url-pattern>
        <url-pattern>/users.html</url-pattern>
        <url-pattern>/create-survey.html</url-pattern>
        <url-pattern>/survey-report.html</url-pattern>
        <url-pattern>/upload.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminPermissionFilter</filter-name>
        <url-pattern>/users.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SurveyConfidentialPermissionFilter</filter-name>
        <url-pattern>/survey-report.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SurveyValidFilter</filter-name>
        <url-pattern>/answer-survey.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <url-pattern>/answer-survey.html</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
